*{
    font-family: 'Poppins', sans-serif;
    
}
nav{
    width: 100%;
    overflow: hidden;
    height: 80px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: fixed;
    top: 0;
    word-spacing: 50px;
}
nav ul{
    color: white;
    text-decoration: none;
    display: flex;
    list-style-type: none;
    word-spacing: 50px;
}
nav ul li{
    padding: 0 20px 0 20px;
    margin: 5px;
    border: 2px green;
    word-spacing: 50px;
}
nav ul li a{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    word-spacing: 50px;
    font-weight: 600;
}
.front-heading{
    position: relative;
    left: 76%;
    font-size: 40px;
    font-weight: 900;
    top: 1px;
    color: rgb(237, 61, 49);
}
.web-heading{
    position: absolute;
    left: 80%;
    font-size: 45px;
    font-weight: bolder;
    top: 5px;
    color: rgb(237, 61, 49);
}

.hero-img{
    width: 100%;
    height: 50%;
    justify-content: center;
    display: flex;
    padding: 10px 20px;
    border-radius: 15px;
}





.column {
    float: left;
    width: 30%;
    padding: 25px;
  }
  .column p{
    text-align: center;
  }
  .column h3{
    text-align: center;
    font-weight: 900;
    font-size: 20px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .column a img{
    border-radius: 15px;
  }
  .column a img:hover{
    
    transform: scale(1.1);

  }

  /* footer{
	position: absolute;
	bottom: 0;
	background: black;
	height: auto;
	width: 100vw;
	padding: 40px 0 0 0;
} */
/*content*/

footer{
    width: 100%;
    height: 240px;
    left: 0;
    bottom: 0;
    background-color: rgb(61, 57, 57);
    text-align: center;
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
}
/* footer p{
    color:white;
    padding: 15px 10px;
    font-size: 15px;
    text-align: center;
    padding: 5px 15px;
} 
.footer{
    position: absolute;
    bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
} */
.footer p{
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: white;
}
.footer h2{
    margin: 10px auto;
    line-height: 28px;
    font-size: 25px;
    color: white;
}
/*social -media*/
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: dodgerblue;
}
/* copyright*/
.footer-copyright{
    background: #000;
    width: 100vw;
    padding: 20px 20px 50px 20px;
}
.footer-copyright p{
    font-size: 14px;
    word-spacing: 2px;
    align-items: center;
    justify-content: center;
}
.back-video{
      position: absolute;
      right: 0;
      bottom: -5;
      z-index:-1;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
